{% extends 'index.html' %}

{% block content %}
    <div class="text-center"> <!-- Agrega una clase para centrar el contenido -->
        <h2>LISTADO DE MEDICAMENTOS</h2>
        <a href="{% url 'medicamentos_create' %}">Crear Nuevo Medicamento</a>
        <ul class="list-unstyled text-center"> <!-- Aplica estilos para centrar la lista -->
            {% for Medicamento in object_list %}
                <li class="mb-2"> <!-- Aplica estilos para centrar los elementos de la lista -->
                    Medicamento {{ medicamento.medicamento }} - {{ medicamento.unidades }} - {{ medicamento.miligramos }}
                    <a href="{% url 'medicamentos_update' Medicamento.id%}">Editar</a>
                    <a href="{% url 'medicamentos_delete' Medicamento.id%}">Borrar</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}