{% extends 'index.html' %}

{% block eliminar_content %}
    <div class="text-center">
        <h2>Eliminar Medicamento</h2>
        
        <p>¿Estás seguro de que deseas eliminar el siguiente medicamento?</p>
        
        <p>Medicamento: {{ medicamentos.medicamento }}</p>
        <p>Uindades: {{ medicamentos.unidades }}</p>
        <p>miligramos: {{ medicamentos.miligramos }}</p>
        
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Confirmar Eliminación">
        </form>

        <a href="{% url 'medicamentos_list' %}">Cancelar</a>
    </div>
{% endblock %}